//==============
//  variables   
//==============
$footer-height: 30px;


//==============
//  colors   
//==============
$black: #455a64;
$white: #e7edef;
$turquoise: #26c4ac;  
$grey: #8e999f;
$white-opacity: #fcfcfc;
$error-color: #d22e2e;
$focus-color: #26c4ac;;
$valid-color: green;
$text-color: 455a64;

@import "font-awesome/font-awesome";
@import "common/_mixins";
@import "common/animation";
@import "common/fonts";
@import "common/extends";
@import "common/adjustment";
@import "common/preloader";
@import "common/menu";
@import "common/parallax_main";
@import "common/header";
@import "common/footer";
@import "common/slider";


//styles
@import "sections/**/*.scss";