mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon_" + name + ' ' + mod)
		use(xlink:href="assets/img/sprite.svg#" + name)


mixin navigation(className,items)
	nav(class=className)
		ul(class=className + "__list")
			- var items = items || {"Мои работы": "/works.html", "Обо мне": "/about.htm","Блог": "/blog.html", "Авторизация":"/welcome.html"}
			each href, nav in items
				li(class=className + "__item")
					a(href=href class=className + "__link")= nav