footer(class="footer" +' '+ footer__static)
	.footer__head
		+navigation('footer__nav')
		.footer__social
			+social('icon_rounded','_round')
	.footer__foot
		blockquote.footer__blockquote
			| "It does not matter how slowly you go so long as you do not stop".
		p.footer__copyright
			| @ Victor Pancheliuha | 2017
