footer(class="footer" +' '+ footer__static)
	.footer__head
		+navigation('footer__nav')
		.footer__social
			+social('icon_rounded','_round')
	.footer__foot
		p.footer__description
			| Я веб-разработчик из Киева, и это мой сайт-портфолио
