header(class=header + ' ' + header_min)
	.header__top
		.header__socials
			+social('icon_white')
		.hamburger
			.hamburger__top
			.hamburger__middle
			.hamburger__bottom
	.header__content
		.about-card__img.about-card__img_bordered
			img(src="assets/img/my-photo.png", alt="my-photo").about-card__photo
		h1.about-card__name.about-card__name_white Панчелюга Виктор
		p.about-card__description.about-card__description_white Личный сайт веб-разработчика
	.portfolio-svg-wrap
		+icon('portfolio_header')
	.header__arrow-down-wrapper
		+icon('arrow_down')
	.header__foot
		div(class="triangle-left" + ' ' + triangle_mod)
		div(class="triangle-right" + ' ' + triangle_mod)