section(id="mainSection").slider-wrapper
	.slider

		.slider__first-part
			.slider__project-image-wrapper
				.slider__project-image
					.slider__item.slideshow
						img(src="./assets/img/works/cat1.jpg", alt="port1").project__img
					.slider__item.slideshow.active
						img(src="./assets/img/works/port.png", alt="port2").project__img
					.slider__item.slideshow
						img(src="./assets/img/works/cat2.jpg", alt="port3").project__img
					.slider__item.slideshow
						img(src="./assets/img/works/cat3.jpg", alt="port3").project__img
			+slider-left('Junior Cat', 'html, css', '#')
			+slider-left('Личный Сайт - Портфолио', 'pug, sass, jquery, svg, git, gulp 4', 'https://github.com/pancheliuha/portfolio',"active")
			+slider-left('Middle Cat', 'pug, sass, vanilla JS', '#')
			+slider-left('Senior Cat', 'Angular 2, TypeScript, sass', '#')
		.slider__second-part
			.slider__nav
				.slider__nav-item-wrapper
					button.slider__nav-item.slider__nav-item_left
						.slider__item.left
							img(src="./assets/img/works/cat1.jpg", alt="port1").project__img
						.slider__item.left
							img(src="./assets/img/works/port.png", alt="port2").project__img
						.slider__item.left.active
							img(src="./assets/img/works/cat2.jpg", alt="port3").project__img
						.slider__item.left
							img(src="./assets/img/works/cat3.jpg", alt="port3").project__img
						.slider__nav-overlay-left
							
	
					button.slider__nav-item.slider__nav-item_right
						.slider__item.right.active
							img(src="./assets/img/works/cat1.jpg", alt="port1").project__img
						.slider__item.right
							img(src="./assets/img/works/port.png", alt="port2").project__img
						.slider__item.right
							img(src="./assets/img/works/cat2.jpg", alt="port3").project__img
						.slider__item.right
							img(src="./assets/img/works/cat3.jpg", alt="port3").project__img
						.slider__nav-overlay-right