section(id="mainSection").slider-wrapper
	.slider

		.slider__first-part
			.slider__project-image-wrapper
				.slider__project-image
					.slider__item.slideshow
						img(src="./assets/img/works/tattoo.png", alt="tattoo").project__img
					.slider__item.slideshow.active
						img(src="./assets/img/works/port.png", alt="portfolio").project__img
					.slider__item.slideshow
						img(src="./assets/img/works/slider.png", alt="slider").project__img
					.slider__item.slideshow
						img(src="./assets/img/works/eleken.png", alt="eleken").project__img
					.slider__item.slideshow
						img(src="./assets/img/works/show4me.png", alt="show4me").project__img
			+slider-left('Tattoo - landing page (markup)', 'bootstrap, flexbox, sass, html, gulp 4', 'assets/works/tattooProject/index.html', 'Посмотреть сайт')
			
			+slider-left('Личный Сайт - Портфолио', 'pug, sass, jquery, svg, git, gulp 4', 'https://github.com/pancheliuha/portfolio', 'Посмотреть проэкт на github', "active")
			
			+slider-left('Slider', 'html, sass, jQuery, CommonJS, gulp', 'https://pancheliuha.github.io/assets/works/slider/index.html', 'Открыть слайдер')
			
			+slider-left('Test For Eleken', 'html, sass, gulp', 'https://pancheliuha.github.io/assets/works/testEleken/index.html', 'Открыть разметку')
			+slider-left('Show4me', 'html, sass, gulp, jQuery, CommonJS', 'https://pancheliuha.github.io/assets/works/show4me/index.html', 'Открыть страницу')
		.slider__second-part
			.slider__nav
				.slider__nav-item-wrapper
					button.slider__nav-item.slider__nav-item_left
						.slider__item.left
							img(src="./assets/img/works/tattoo.png", alt="tattoo").project__img
						.slider__item.left
							img(src="./assets/img/works/port.png", alt="portfolio").project__img
						.slider__item.left.active
							img(src="./assets/img/works/slider.png", alt="slider").project__img
						.slider__item.left
							img(src="./assets/img/works/eleken.png", alt="eleken").project__img
						.slider__item.left
							img(src="./assets/img/works/show4me.png", alt="show4me").project__img
						.slider__nav-overlay-left
							
	
					button.slider__nav-item.slider__nav-item_right
						.slider__item.right.active
							img(src="./assets/img/works/tattoo.png", alt="tattoo").project__img
						.slider__item.right
							img(src="./assets/img/works/port.png", alt="portfolio").project__img
						.slider__item.right
							img(src="./assets/img/works/slider.png", alt="slider").project__img
						.slider__item.right
							img(src="./assets/img/works/eleken.png", alt="eleken").project__img
						.slider__item.right
							img(src="./assets/img/works/show4me.png", alt="show4me").project__img
						.slider__nav-overlay-right