@keyframes spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

@keyframes antispin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(300);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
        transform: scale3d(1.4, 1.4, 1.4)
    }

    100% {
        transform: scale3d(1, 1, 1)
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -300px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}


@keyframes hinge {
    0% {
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }

    20% {
        transform: rotate3d(0, 0, 1, -105deg);
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }

    40% {
        transform: rotate3d(0, 0, 1, -25deg);
        transform-origin: top right;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    60% {
        transform: rotate3d(0, 0, 1, -95deg);
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }

    75% {
        transform: rotate3d(0, 0, 1, -80deg);
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }

    90% {
        transform: rotate3d(0, 0, 1, -91deg);
        transform-origin: top right;
        animation-timing-function: ease-in-out;
    }

    to {
        transform: translate3d(0, 700px, 0);
    }
}

@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes rollOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}
