@keyframes spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

@keyframes antispin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(300);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}