.header {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
}

.header__top {
	@extend %clearfix;
	text-align: left;
	line-height:100px;
}

.header__top.active {
	position: fixed;
	width : 100%;
	z-index: 9999;
}

.header__socials {
	display: inline-block;
}

.hamburger {
	z-index: 99;
	height: rem(35px);
	width: rem(40px);
	float: right;
	margin-right: rem(30px);
	margin-top: rem(30px);
	line-height: 100px;
	display: inline-block;
	position: relative;
    transition: all .3s;
	&:hover {
		cursor: pointer;
	}

  .hamburger__top {
	  position: absolute;
	  top: 0;
	  height: rem(5px);
	  border-radius: 2px;
	  width: 100%;
	  background-color: #fff;
	  transition: all .3s;


  }

  .hamburger__middle {
    @extend .hamburger__top;
    top: rem(35/2-2.5 + 0px);
    transition: all .3s;

  }

  .hamburger__bottom {
    @extend .hamburger__top;
    top: rem(30px);
    bottom: 0;
    transition: all .3s;
  }
}







.hamburger.active {

  .hamburger__top {
    top: rem(35/2-2.5 + 0px);
    transform: rotate(-45deg);
  }

  .hamburger__bottom {
    top: rem(35/2-2.5 + 0px);
    transform: rotate(45deg);
  }

  .hamburger__middle {
    transform: rotate(0deg);
    opacity: 0;
  }
}

.header__content {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;

    @include phones() {
    	width: 70%;
    }

}

.about-card__name_white.about-card__name_white {
	color: #fefefe;
}

.about-card__description_white {
	color: #fff;
	opacity: .7;
}

.about-card__img_bordered {
	border: rem(2px) solid #fff;
}

.icon_white.icon_white {
	
	fill: #fff;
	opacity: .7;
	 &:hover {
		opacity: 1;
		transition: all 0.2s ; 
	} 
}

.portfolio-svg-wrap {
	@extend .header__content;
	width: 100%;

}

.icon_portfolio_header.icon_portfolio_header {
	height: 100%;
	width: 100%;
	fill: #fefefe;
	opacity: .06;

	&:hover {
		opacity: .06;
	}
}

.header__arrow-down-wrapper {
	width: 100%;
	height: 40px;
	display: block;
	position: absolute;
	bottom: rem(40px);
	text-align: center;
	z-index: 2;
}

.header__arrow-down-link {
	display: inline-block;
}

.icon_arrow_down.icon_arrow_down {
	display: inline-block;
	width: 40px;
	height: 20px;
	fill: #fff;
	opacity: .7;
	transition: all .3s;
	&:hover {
		cursor: pointer;
		transform: translateY(10px);
		opacity: 1;
		transition: all .3s ease-in;
	}
}

.header__foot {
	//position: absolute;
	bottom:0;
}

.triangle-left {
	position: absolute;
	bottom:0;
	left:0;
	margin:0;
	padding: 0;
	display: inline-block;
	border: 100px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 50vw solid rgba(#f0efe9, 1);
}

.triangle-right {
	position: absolute;
	bottom:0;
	right:0;
	margin:0;
	padding: 0;
	display: inline-block;
	border: 100px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 50vw solid rgba(#efebe0, 1);

	@include tablets() {
		border-right-color: #f0efe9;
	}
}