.wrap {
	display: table;
}

.bio-skills {
	display: table-row;

	@include tablets() {
		display: block;
	}
}

.biography {
	display: table-cell;
	width: 50%;
	text-align: center;
	background-color: #f0efe9;

	@include tablets() {
		display: block;
		width: 100%;
	}
}

.biography__head {
	display: inline-block;
	width: 100%;
	position: relative;
}

.text-with-lines_about.text-with-lines_about {
	//width: 100%;
	color: #373e42;
	font-size: rem(63px);
	display: inline-block;
	z-index: 1;
	&::before {
		   left: -20%;
	}

	&::after {
		   right: -20%;
	}

	@include phones() {
		margin: rem(17px);
		font-size: rem(53px);
	}
}

.icon_about_header.icon_about_header {
	height: 100%;
	width: 100%;
	fill: #6e7171;
	opacity: .07;
	position: absolute;
	bottom: 8px;
	left: 0;
	z-index: 0;

	&:hover {
		opacity: .07;
	}
}

.biography__photo-wrapper {
	display: inline-block;
	width: 80%;
	height: rem(500px);
	border-radius: rem(9px);
	overflow: hidden;

	@include tablets() {
		height: rem(400px);
		width: 60%;
		overflow: hidden;
		//position: relative;
	}

	@include phones() {
		height: rem(340px);
		width: 90%;
	}
}

.biography__photo {
	
	width: 100%;
	/*@include tablets() {

		position: absolute;
		left: 0;
		right: 0;
		
		bottom: -13px;
	}*/
}

.biography__info {
	text-align: left;
	color: #455a64;
	padding:0 10% rem(20px);
	padding-right: 10%;

	@include tablets() {
		width: 60%;
		display: inline-block;
		margin: 0;
	}
	@include phones() {
		width: 90%;
		padding-right: 0;
		padding-left: 0;
		line-height: rem(20px);
	}

}

.text-with-lines_about__info.text-with-lines_about__info {
	&::before {
		   left: 30%;
	}

	&::after {
		   right: 30%;
	}
}

.skills {
	display: table-cell;
	background-color: #efebe0;
	height: 100%;

	@include tablets() {
		display: block;
		width: 100%;
	}

}

.skills__head {
	display: inline-block;
	width: 100%;
	padding-top: 0px;

}

.text-with-lines_skills.text-with-lines_skills {
	margin-top: rem(68px);
	display: inline-block;
	&::before {
		   left: -20%;
	}

	&::after {
		   right: -20%;
	}

	@include tablets() {
		margin-top: rem(30px);
	}
}

.skills__description-head {
	font-family: 'bernier_regular';
	width: 100%;
	font-size: rem(35px);
	font-weight: 400;
	color: #455a64;
	margin-top: rem(-27px);
	margin-bottom: 0;
}

.skills__content {
	margin-top: rem(54px);
}

.skills__description {
	@extend .biography__info;
}

.skill__wrap {
	transform: translateY(300px);
	&.active {
		animation: fadeInFromBottom 1s;
		animation-fill-mode: forwards;
	}
}

.skill__name {
	margin: 0;
	text-align: left;
	padding-left: rem(50px);
	font-family: 'roboto_medium', sans-serif;
	font-weight: 400;
	font-size: rem(28px);
	color: #455a64;

	@include tablets() {
		text-align: center;
		padding-left: 0;
	}
}

.skill__list {
	list-style-type: none;
	@extend %clearfix;
	
	
	@include tablets() {
		display: inline-block;
		padding: 0;
	}

	@include phones() {
		max-width: 90%;
		text-align: center;
	}

}

.skill__item {
	display: inline-block;
	margin-right: rem(15px);
	margin-left: rem(15px);
	margin-bottom: rem(10px);
	opacity: 0;
	@include phones() {

	}

}


.circle-wrap {
	position: relative;
	display: inline-block;
}

.circle {
	width: 120px;
	height: 120px;
}

circle:first-child {
	fill:rgba(0,0,0,0);
	stroke: #dfdcd5;
	stroke-width: 20px;
}


circle:last-child {

	fill:rgba(0,0,0,0);
	stroke:$turquoise;
	stroke-width: 20px;
	stroke-dasharray: 314;
	stroke-dashoffset: 314;
	transform: rotate(-90deg);

}

.circle__text {
	position: absolute;
    line-height: 120px;
    top: 0;
    left: 0;
    width: 120px;
    color: #00bfa5;
    font-family: 'roboto_medium', sans-serif;
    font-size: 12px;

}

.map {
	width: 100%;
	position: relative;
	/* text-align: center; */
	height: rem(650px + 151px + 158px);
	min-height: rem(650px);
}

#map__block {
	width: 100%;
	height: 100%;
}

.contacts {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline-block;
	background-color: rgba(#fcfcfc, .85);
	width: rem(330px);
	height: rem(300px);
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;

	@include phones() {
		bottom: auto;
		width: 100%;
		border-radius: 0;
	}

}

.contacts__head {

}


.text-with-lines_contacts.text-with-lines_contacts {
	display: inline-block;
	color: #373e42;
	&::before {
		   left: -25%;
	}

	&::after {
		   right: -25%;
	}
}

.contacts__list {
	list-style-type: none;
	margin: 0;
}

.contacts__item {
	margin-bottom: rem(25px);
}

.contacts__link {
	text-decoration: none;
}

.contact__data {
	text-align: left;
	padding-left: 35px;
	font-family: 'roboto_medium';
	color: #455a64;
	opacity: .8;
}

.contacts_icon.contacts_icon {
	width: rem(24px);
	height: rem(24px);
	float: left;
	opacity: 1;

}

.arrow_up-wrapper {
	width: 100%;
	position: absolute;
	bottom: 22%;

}

.icon_arrow_up.icon_arrow_up {
	@extend .icon_arrow_down;
	width: 32px;
	opacity: .7;

	&:hover {
		transform: translateY(-10px);
		transition: all .3s;
		opacity: 1;
		cursor: pointer;
	}
}