.blog {
	@extend .works;
}

.blog__head {
	@extend .works__head;
}

.text-with-lines_blog.text-with-lines_blog {
	color: #373e42;
	font-size: rem(60px);
	display: inline-block;
	line-height: 22vh;
	margin: 0;
	z-index: 1;

	&::before {
		left: -45%;
	}

	&::after {
		right: -45%;
	}


}

.icon_blog_header {
	@extend .icon_works_header;
}

.articles-wrapper {

	background-color: #faf8f0;
	position: relative;
	@extend %clearfix;
}

.articles-links {
	float: left;
	height: 100vh;
	width: 30%;
	padding-top: rem(70px);
	&.fixed {
		position: fixed;
		top: 0;
	}
}

.aside {
	width: 90%;
	padding-top: 5px;
}

.aside__list {
	list-style-type: none;
	border-sizing: border-box;
}

.aside__item {
	text-align: right;
}

.aside__link {
	padding: 10px 0;
	display: block;
	color: #455a64;
	text-decoration: none;
	border-sizing: border-box;
	transition: all .3s;
	border-right: 2px solid rgba(#00bfa5, 0);
	padding-right: 10px;

	&:hover, &.active {
		border-color: rgba(#00bfa5, 1);
		color: $turquoise;
		transition: all .3s;
	}

}

.articles-content {
	width: 70%;
	float: right;
	padding-top: rem(70px);
	box-sizing: border-box;
	
	p {
		text-align: left;
	}
}

.article{
	box-sizing: border-box;
	padding:rem(20px) 0 ;

	&__head {
		margin: rem(20px) 0;
	}
}