extends ../_template

block variables
	- var title= 'about'
	- var triangle_mod= ''
	- var header_min= '' 
	- var header= 'header'
	- var frontend= ['HTML5','CSS3','JS,jQuery']
	- var backend= ['Nodejs','Mongodb','PHP', 'noSQL']
	- var workflow= ['GIT','Gulp','Bower', 'npm']
	- var footer__static= ''



block content
	.parallax-wrapper
		+parallax ("scroll",[0,1,2,3,4,5,6,7,8,9])
	.wrapper
		.content
			include ../common/header
			section(id="mainSection").bio-skills
				.wrap
					.biography
						.biography__head
							+text-with-lines('обо мне', 'text-with-lines_about')
							+icon('about_header')
						.biography__photo-wrapper
							img(src="assets/img/about_photo.jpg", alt="my-photo").biography__photo
						+text-with-lines('кто я', 'text-with-lines_about__info')
						p.biography__info
							| Я веб-разработчик из Киева. Мне 23 года. Я занимаюсь разработкой современных сайтов и приложений. 	Мне нравится делать интерестные и современные проэкты.
						p.biography__info
							| Этот сайт я сделал для себя, позже к нему будет добавлена админитративная часть для более удобного редактирования и добавления контента
					
					.skills
						.skills__head
							+text-with-lines('чем я могу быть', 'text-with-lines_skills')
							h3.skills__description-head вам полезен
						.skills__content
							p.skills__description
								| Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать несложные задачи на Backend. Но давайте по порядку.
						+skill('Frontend', frontend)
						+skill('Backend', backend)
						+skill('Workflow', workflow)
			section.map
				//img(src="assets/img/map.png", alt="my-photo").map__photo
				.contacts
					.contacts__head
						+text-with-lines('контакты', 'text-with-lines_contacts')
					ul.contacts__list
						li.contacts__item
							a(href="skype:vitya2806?call").contacts__link
								+icon('skype', 'contacts_icon')
								p.contact__data vitya2806
						li.contacts__item
							a(href="mailto:pancheluha.victor@gmail.com").contacts__link
								+icon('envelope', 'contacts_icon')
								p.contact__data pancheluha.victor@gmail.com
						li.contacts__item
							a(href="skype:+380954694398?call").contacts__link
								+icon('phone', 'contacts_icon')
								p.contact__data +38-(095)-469-43-98
						li.contacts__item
							a(href="https://www.google.com.ua/maps/place/%D0%93%D1%83%D1%80%D1%82%D0%BE%D0%B6%D0%B8%D1%82%D0%BE%D0%BA+%E2%84%961+%D0%9D%D0%A2%D0%A3%D0%A3+%22%D0%9A%D0%9F%D0%86%22,+%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%90%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D1%96%D0%BA%D0%B0+%D0%AF%D0%BD%D0%B3%D0%B5%D0%BB%D1%8F,+5,+%D0%9A%D0%B8%D1%97%D0%B2/@50.4499659,30.4520312,18z/data=!4m5!3m4!1s0x40d4cc2636b4d71b:0x9fd1e501c1bda3e2!8m2!3d50.449901!4d30.4534313" target="_blank").contacts__link
								+icon('map_marker', 'contacts_icon')
								p.contact__data ул.Ак.Янгеля, 5
				.talks__foot
					.arrow-up-wrapper
						.arrow_up
							+icon('arrow_up')


		include ../common/footer
			
