extends ../_template

block variables
	- var title= 'Блог | Статьи'
	- var triangle_mod= 'triangle_mod'
	- var header_min= 'header_min' 
	- var header= ''
	- var footer__static= 'footer__static'


block content
	.parallax-wrapper
		+parallax ("scroll",[0,1,2,3,4,5,6,7,8,9])
	.wrapper
		.content
			.header-wrap
				include ../common/header
				.blog
					.blog__head
						+text-with-lines('блог', 'text-with-lines_blog')
						+icon('blog_header')
			div(id="mainSection").articles-wrapper


				.articles-links
					aside.aside
						ul.aside__list
							li.aside__item
								a(href="#article1").aside__link  Обзор 5 самых популярных JavaScript фреймворков и библиотек 2017
							li.aside__item
								a(href="#article2").aside__link Что нас ждет в будущем. Предсказания IBM о технологиях после 2022 г.
							li.aside__item
								a(href="#article3").aside__link Пошаговая инструкция - Как стать программистом
							li.aside__item
								a(href="#article4").aside__link Первый советский мобильный телефон ЛК-1


				.articles-content
					article(id="article1").article
						h2.article__head Обзор 5 самых популярных JavaScript фреймворков и библиотек 2017
						h3.article__date 14.02.2017
						.article__content
							a(href="https://habrahabr.ru/post/321844/" target="_blank" rel="nofollow") Источник

							p Популярность JavaScript продолжает расти. В 2016 году мы стали свидетелями больших изменений с выходом полного апгрейда AngularJS и анонсом Angular 2, окончательного первенства jQuery, который применяют в 96,5% всех сайтов, эволюции ECMAScript, двух обновлений Node.js в апреле и октябре соответственно, и даже более того. Чего ожидать от 2017 года? Вот то, что мы знаем к этому времени: Angular 4 ожидается в марте 2017, выпуск ES2017 планируется в середине 2017, релиз Bootstrap v4 также ожидается в этом году.

							.article__img
								img(src="assets/img/articles/frameworks2017/frameworks_1.jpg" alt="frameworks")

							p Недавно JavaScript занял место среди лучших языков для изучения по версии IBM в 2017 году. На данном этапе он используется, как для клиентской, так и для серверной части и помогает проектировать привлекательные интерфейсы, обогащать веб-приложения многочисленными функциями и фичами, изменять веб-страницы в реальном времени и много другое.

							p Тем временем, JavaScript фреймворки могут стать палочкой выручалочкой для быстрой разработки веб-приложений. Они служат каркасом для отдельных страниц приложения, позволяют разработчикам меньше волноваться о структуре кода или поддержке во время, когда они сосредоточены на создании сложных элементов интерфейса.

							h4 Преимущества использования JavaScript фреймворков:

							ul
								li Эффективность – проекты, которые раньше заняли бы месяцы и сотни строчек кода, сейчас могут быть реализованы намного быстрее с хорошо структурированными готовыми шаблонами и функциями.
								li Безопасность – лучшие JavaScript фреймворки имеют фирменную систему безопасности и поддерживаются крупным сообществом, члены которого и просто пользователи выступают в роли тестировщиков.
								li Расходы – большинство фреймворков с открытым кодом и бесплатны. Поскольку они помогают программистам быстрее разрабатывать пользовательские решения, итоговая цена веб приложения будет ниже.

							h4 Лучшие JavaScript фреймворки в 2017:

							h5 Angular-s

							.article__img
								img(src="assets/img/articles/frameworks2017/angular.jpg" alt="angular")

							p После долгожданного релиза Angular еще в 2016, его популярность достигла новых вершин, но он будет держать планку не отступая и в 2017 году.

							p Angular.js часто называют MVW (Model-View-Whatever) фреймворк и среди главных выгод для старт-апов и средних компаний называют: быстрое написание кода, быстрое тестирование любой части приложения и двухсторонняя привязка данных (изменения в бэкэнде сразу же отражаются на пользовательском интерфейсе). С момента выхода его экосистема вышла за пределы воображения. Сейчас его заслуженно называют наиболее используемым JS фреймворком для разработки одностраничных приложений (SPA Single-Page-Applications) и он может похвастаться крупнейшим сообществом разработчиков.

							p Angular2 поставляется с большим списком функций, которые позволят разработать все, начиная от веб до декстопных и мобильных приложений. Фреймворк построен на TypeScript от Microsoft с прицелом на то, чтобы сделать JavaScript более гибким и привлекательным для больших предприятий. Функции ng2 имеют архитектуру на основе компонентов, улучшенный DI (dependency injection – внедрение зависимостей), эффективный сервис логов, межкомпонентное взаимодействие и многое другое. Пример разработки игры на Angular2:

							.article__img
								img(src="assets/img/articles/frameworks2017/angular2.png" alt="angular2")

							h5 ReactJS

							.article__img
								img(src="assets/img/articles/frameworks2017/react.png" alt="react")

							p Не смотря на тот факт, что это больше библиотека, чем фреймворк. Он стоит за пользовательским интерфейсом фейсбука и инстаграмма, показывая свою эффективность внутри динамичных приложений с высоким трафиком (пропускной способностью).

							p Он по праву считается самым быстрорастущим JS фреймвком: на сегодня насчитывается около 1000 авторов Github. В MVC (Model-View-Controller) моделе React.js действует как “V” и может быть легко интегрирован в любую архитектуру. Благодаря использованию виртуального DOM дерева он обеспечивает больший рост производительности в сравнении с Angular 1.x. В дополнение к этому, компоненты React могут быть созданы и повторно использованы в других приложениях или даже переданы для общественного использования.

							p Не смотря на тот факт, что React более сложен в изучении, он делает разработку приложений простой и легкой для понимания. Кроме того, он может идеально подойти для сложных, внушительных программных решений с высокой степенью нагрузки.

							h5 Vue.js

							.article__img
								img(src="assets/img/articles/frameworks2017/vue.jpg" alt="vue")

							p Vue 2.0 также был представлен в 2016 году и взял лучшее из Ember, React и Angular, положив это все в удобную упаковку. Он доказал, что может быть (он оказался) быстрее и компактнее React и Angular 2.0.

							p Углубляясь, Vue.js предлагает двухстороннюю привязку данных (как в AngularJS), визуализацию на стороне сервера (как в Angular2 и ReactJS), Vue-cli (scaffolding инструмент для быстрого старта) и опционально поддержку JSX. Его создатель утверждает, что Vue2 один из самых быстрых фрейворков в целом.

							p Vue.js лучший выбор для быстрой разработки кросс-платформенных приложений. Он может стать прочной основой для высокопроизводительных приложений в одну страницу (SPAs) и выгодным решением для тех случаев, когда производительность важнее, чем хорошая организация кода или структура приложения.

							h5 Ember.js

							.article__img
								img(src="assets/img/articles/frameworks2017/ember.png" alt="ember")

							p Еще в 2015 году Ember был назван лучшим JS фреймворком, оставляя позади React и AngularJS. Сегодня он может похвастаться огромным он-лайн комьюнити, регулярными обновлениями и широко применяемыми лучшими практиками на Java Script, которые гарантируют окончательный опыт прямо из коробки.

							p Ember имеет двухстороннюю привязку данных, как в AngularJS, держит и вид и модель в синхронизации на протяжении всего времени. Применение модуля Fastboot.js обеспечивает быстрый рендеринг (отрисовку, перерасчет) DOM дерева на стороне сервера, улучшая представление сложных пользовательских интерфейсов.

							p Emberjs обычно используется для сложных многофункциональных веб-приложений и веб-сайтов. Среди топ пользователей Chipotle, Blue Apron, Nordstrom, Kickstarter, LinkedIn, Netflix и многие другие. Более того он наиболее прост в изучении и есть море доступных онлайн учебных пособий и гайдов.

							h5 Meteor.js

							.article__img
								img(src="assets/img/articles/frameworks2017/meteor.png" alt="meteor")

							p Meteor один из самых популярных JS фрейворков, но который устойчиво шагает с тонной функций для бэкэнд разработки и отрисовки фронт-энда, управления базами данных и бизнес логикой. С выпуска в 2012 году его экосистема выросла кардинально быстрыми темпами. Эта фул-стэк платформа позволяет быстро разрабатывать веб и мобильные приложения. С точки зрения производительности, все изменения в базе данных тут же передаются на пользовательский интерфейс и обратно без каких-либо видимых потерь времени, вызванных разницей в языках или во времени реакции сервера.

							p Пример разработки MMO на Meteor.js:

							.article__img
								img(src="assets/img/articles/frameworks2017/meteor_2.png" alt="meteor")

							p Meteor.js охватывает все этапы цикла разработки программного обеспечения и заботится о таких процессах, как линкинг, конкатенация файлов и прочее. Фрейморк сейчас используется для разработке приложений реального времени в таких компаниях, как Mazda, IKEA, Honeywell и многих других.

							.article__img
								img(src="assets/img/articles/frameworks2017/statistic.png" alt="statistic")

							h5 Вывод

							p Выбор фреймворка не основан на функционале, который каждый из них может предложить. Он зависит от первоначальных целей компании, требований к проекту, общей функциональности фреймворка и как ее можно применить в каждом конкретном случае.

							p Когда дело доходит до быстрой веб-разработки или создания прототипов, JS фреймворки являются наиболее популярными для использования и 2017 год не станет исключением. Эти фрейворки и библиотеки уже изменили способ того, как JS взаимодействует с HTML и СSS, чтобы объединить представления в браузерах и на родных платформах.



					article(id="article2").article
						h2.article__head Что нас ждет в будущем. Предсказания IBM о технологиях после 2022 г.
						h3.article__date 25.01.2017
						.article__content
							a(href="https://hi-news.ru/technology/5-predskazanij-ibm-o-tom-kakoe-budushhee-nas-zhdet-v-2022-godu.html" target="_blank" rel="nofollow") Источник
							.article__img
								img(src="assets/img/articles/our_future/future-ibm-2022.jpg" alt="future-ibm")
							p Технологический гигант IBM уже далеко не первый год делает весьма громкие прогнозы, касающиеся «нашего» технологического будущего. И следует отметить, что процент верных предсказаний удивительным образом всегда оказывается выше, чем процент неверных.

							p Вот и на этот раз компания представила список из пяти инновационных технологий, методов и открытий, которые, по ее мнению, окажут наиболее серьезное влияние на наши жизни в течение пяти будущих лет.

							p Согласно этим предсказаниям, в течение всего нескольких лет нас ожидает серьезный рост развития искусственного интеллекта (ИИ), сверхмощных телескопов, умных сенсоров и медицинских устройств. При этом выгода от этих инноваций будет заметна в очень многих сферах, начиная от системы здравоохранения и охраны окружающей среды и заканчивая сферами, в которых разбираются вопросы нашего понимания Земли и всей окружающей Вселенной в целом.

							p Разумеется, следует сразу уточнить, что представленные ниже предсказания основываются лишь на тех технологиях и инновациях, к которым мы уже пришли. Поэтому следует понимать, что за взятый в этих предсказаниях временной промежуток могут случиться и другие открытия. Тем не менее предлагаем взглянуть на то, что может нас ожидать в ближайшем будущем. Запаситесь блокнотами, чтобы в 2022 году вернуться к этой записи и просто убедиться в том, сбылись описанные ниже предсказания или нет.

							h4 Благодаря ИИ мы сможем ставить диагнозы психологического здоровья человека

							p Уже сейчас вы можете рассказать многое о человеке, просто наблюдая за тем, как он разговаривает. В голосе четко ощущается усталость, возбуждение, растерянность, невнимание или печаль.

							p Люди в процессе своей эволюции сами научились понимать признаки, указывающие на эти особенности состояния, однако нынешний бум развития компьютерных вычислений может, помимо прочего, привести к тому, что технологии, применяемые в анализе речи, могут стать еще более совершенными и, если можно так выразиться, более проницательными, чем мы.

							p «То, как мы говорим и как пишем, будет использоваться в качестве индикаторов нашего психологического состояния и физического здоровья», — делает предсказание IBM.

							p Как это будет происходить? Например, психологические расстройства и заболевания, такие как болезнь Паркинсона, можно будет определять с помощью обычного мобильного приложения для вашего смартфона, который будет синхронизироваться с ИИ-системой в облаке. Благодаря более раннему обнаружению признаков заболеваний, у нас будет больше времени для того, чтобы разработать средства для их лечения.

							p На первый взгляд связь между особенностями речи и симптомами заболеваний может показаться слишком натянутой, однако экспериментальные системы, способные выполнять эту функцию, начинают появляться уже сейчас. Например, в прошлом году команда ученых из Университета Южной Калифорнии создала программу, которая способна определять вариативность нормальной речи и сравнивать ее с признаками депрессивного состояния.

							h4 Благодаря новым технологиям и ИИ люди смогут получить сверхзрение

							p  Наши глаза сами по себе являются прекрасным примером удивительных возможностей природы и биологии, однако, согласно IBM, благодаря мощным, но при этом крошечным камерам, работающим в тандеме со сверхбыстрыми системами на базе ИИ-алгоритмов, люди в 2022 году обретут возможность в буквальном смысле видеть больше, чем доступно обычно человеческому глазу.

							p Наряду с видимым светом, люди начнут видеть микроволны, волны миллиметрового диапазона и даже изображения, получаемые в инфракрасном диапазоне спектра. И все благодаря достаточно компактным устройствам, способным поместиться в карманах обычной одежды. По сути, мы получим персональные интроскопы (устройства, применяемые для просвета багажа в тех же аэропортах), но размером с ваш телефон.

							p Используя подобные устройства, мы сможем безошибочно определять, например, является ли та или иная пища безопасной для нас; самоуправляемые автомобили, оснащенные такими системами, станут гораздо эффективнее «смотреть сквозь» туман или сильный дождь. И это лишь самая малая часть примеров.

							p И что удивительно, одни из первых таких устройств уже появляются. Взять, к примеру, очки EnChroma, раскрашивающие не только в правильные цвета, а вообще в цвета окружающий мир для людей, страдающих дальтонизмом и ахроматопсией. Для последних мир в буквальном смысле представлен черно-белым изображением. Сейчас такие технологии очень дорогие и экспериментальные, но в 2022 году их сможет позволить себе абсолютно любой человек.

							h4 «Макроскопы» помогут нам понять всю сложность Земли в беспрецедентных деталях

							p Спутниковыми технологиями, благодаря которым мы способны заглянуть в скважину дверного замка, сейчас уже мало кого удивишь. Однако такие сервисы, как Google Earth, – это только начало.

							p IBM предсказывает, что «макроскопные системы» — работающие по принципу микроскопов, только в обратную сторону — позволят объединить вместе «все комплексные данные о Земле» и наделить нас возможностью взглянуть на всю эту информацию совершенно с других точек зрения.

							p Эта технология не только расширит возможности сбора информации с помощью спутников, но и обеспечит нас более «умными» сенсорами, погодными станциями, а также позволит подобрать гораздо более оптимальные и структурированные способы обработки информации.

							p Эта технология принесет пользу не только в вопросах изучения природных процессов, происходящих на Земле и за ее пределами, но и в нашей обычной жизни. Абсолютно все виды устройств, включая наши системы освещения и даже холодильники, могут быть изучены с помощью макроскопных систем будущего, чтобы в конечном итоге мы могли комбинировать и применить эти знания в предсказаниях и предвидениях всего – начиная от климатических изменений и заканчивая поиском решений на вопросы распределения еды на планете.

							p От удаленно управляемых ламп к умным устройствам, которые могут записывать читаемый вами список необходимых покупок, самостоятельно заказывать для вас еду, заходить в «Википедию» и искать за вас нужную информацию… В общем, в мире, где все больше устройств, домов и даже городов становится частью общей умной инфраструктуры, подключенной к Сети, – только представьте, какой потенциал откроет обладание технологией, которая сможет собирать в буквальном смысле абсолютно всю информацию об этом мире и направлять ее на решение конкретных задач.

							h4 «Лаборатории на чипе» приведут к революции в медицине

							p С развитием и увеличением производительности компьютерных технологий, медицина является одним из тех направлений, которое получит наибольшую пользу от этого прогресса, считают в IBM. Только представьте, что вы сможете недорого и самостоятельно ставить точные медицинские диагнозы у себя дома или предсказывать приближение болезни гораздо раньше, чем сейчас.

							p «Новые «лаборатории на чипе» (они же микросистемы полного анализа) будут играть роль нанотехнологических докторов-детективов, выслеживающих имеющиеся в наших организмах и жидкостях следы грядущих заболеваний и давая нам немедленно знать о том, что пора посетить своего врача», — объясняют в IBM.

							p Другими словами, полноценные биохимические лаборатории будущего смогут умещаться на ладонях ваших рук.

							p Определение на ранних стадиях таких болезней, как рак или болезнь Паркинсона, может сыграть большую разницу в успешности лечения. Именно поэтому ученые работают над тем, как усовершенствовать и одновременно упростить методы проведения анализа продуктов наших выделительных систем: наших слез, крови, мочи и пота.

							p К 2022 году наши системы мониторинга сна и фитнес-браслеты смогут отправлять данные в облачные ИИ-сервера, где будет проводиться ее эффективная и быстрая обработка. Затем эта же информация будет возвращаться к нам обратно в виде детальных советов о том, как можно улучшить наше самочувствие и здоровье. И все это будет сопровождаться одновременным автоматическим оповещением вашего лечащего врача при любых признаках приближающейся болезни.

							h4 «Умные» сенсоры будут определять загрязнения окружающей среды гораздо быстрее

							p Комбинация умного оборудования и систем ИИ-анализа смогут также давать более точные и своевременные предсказания в вопросах угроз загрязнений окружающей среды, считают в IBM. Как и смарт-трекеры, которые однажды смогут указывать на ранние признаки заболеваний, смарт-сенсоры, помещенные, например, в землю или установленные на летающие дроны, смогут определять выбросы и загрязнения в реальном времени без необходимости предварительного проведения анализа образцов и данных в лабораториях.

							p Одним из примеров подобных загрязнений является повышение уровня метана в атмосфере – невидимое невооружённым глазом, но при этом рассматриваемое второй крупнейшей причиной глобального потепления, после углекислого газа. Смарт-сенсоры, установленные вдоль газопроводных труб, возле складских хозяйств и естественных источников этих выбросов смогут практически мгновенно определять и оповещать о повышениях концентрации этого опасного газа в атмосфере.

							p «Такие утечки можно будет определять в течение нескольких минут, а не недель, как это происходит сейчас. Это не только позволит сократить объем утечек, но также и избежать потенциальных катастрофических последствий», — объясняет IBM.

							p Как уже не раз говорилось, предсказание будущего – не всегда дело благородное, да и не очень простая задача. Однако все описанные сегодня технологии уже так или иначе находятся в разработке исследовательских и научных команд по всему миру. Другими словами, то, когда мы получим эти технологии, – остается лишь вопросом времени.


					article(id="article3").article
						h2.article__head Пошаговая инструкция - Как стать программистом
						h3.article__date 16.01.2017
						.article__content
							a(href="https://hi-tech.mail.ru/review/how-to-become-a-programmer/" target="_blank" rel="nofollow") Источник
							.article__img
								img(src="assets/img/articles/how to be developer/programmist_01.jpg" alt="future-ibm")

							p Заняться программированием сегодня подумывают многие, что не удивительно. Совершенно очевидно, что будущее за IT. Но одно дело подумывать, и совсем другое — стать программистом. Увы, многие останавливаются, не сделав даже первого шага просто из-за банальной неуверенности и незнания с чего начать.

							h4 Шаг первый — ознакомительный

							p Для начала думаем, чем именно хочется заниматься. Допустим, хочется стать разработчиком игр — что дальше? Переходим к мониторингу сайтов по поиску работы — там выясняем, насколько востребованы специалисты того профиля, который вы для себя наметили, и какой у них доход

							.article__img
								img(src="assets/img/articles/how to be developer/programmist_02.jpg" alt="future-ibm")

							p 102 000 рублей в месяц – средняя зарплата по Москве и МО для разработчика игр

							p Что ж, неплохо! Пожалуй, стоит потратить немного времени и усилий на самообразование. Если картина у выбранной вами профессии выглядит хуже, то можно просто сменить цель. Согласитесь, лучше сделать это на ознакомительном этапе, чем пройдя половину пути.

							h4 Шаг второй — вдумчивый

							p Выясняем, какие требования предъявляются к специалисту, и что он должен знать. Возьмём всё того же разработчика игр. Из чего же он «сделан»?

							p Базовым языком для данной профессии является C#, а для создания всех возможных и невозможных чудес необходим Unity. Не так уж и много! Но прежде, чем перейти к практике всерьёз, стоит немного узнать про языки, которые предстоит изучить.

							p Если они окажутся слишком сложными, это может отбить у вас все желание идти дальше.

							p Поэтому для первых шагов стоит выбрать что-нибудь попроще, например JavaScript. Ведь работа должна приносить не только деньги, но и удовольствие!

							h4 Шаг третий — теоретический

							p Теперь самое время перейти к активным действиям! Если спросить на форумах, как лучше это сделать, то вам в один голос ответят: учитесь сами. Но о подводных камнях предупредит не каждый. Так насколько удобен этот путь?

							p Самостоятельно — это значит по книгам, сайтам и всевозможным приложениям в интернете. Если вы уже имеете какую-то базу и хотите не спеша пополнить свои знания, то можно учиться и так. Но для новичка, это задачка не из лёгких.

							p Со всеми возникающими вопросами (а они обязательно возникнут) вам придётся разбираться самостоятельно. Правда, не владея темой, даже правильно сформулировать вопрос не так-то просто. Ещё один вариант — найти ментора. Так называют личного наставника.

							p По сути, это тот же репетитор. Конечно, вряд ли это будет МарьВанна с указкой в руках, но от того, как сложатся отношения с этим человеком, зависит очень многое. Ментор может стать как путеводной звездой, так и крестом на вашей только начинающейся карьере.

							p Есть и третий вариант — курсы программирования. Пожалуй, это самый простой и комфортный путь. Курсы — это общение, обмен опытом и определённая тусовка. В этом кроется один из важнейших плюсов такого образования.

							p Программирование — это почти интимный процесс, в который не хочется пускать посторонних. Как сотворение мира, где всё повинуется только вам!

							p Для построения карьеры очень важно войти в профессиональный круг. Это даёт новые связи, учит общаться на одном языке, позволяет почувствовать себя своим и перешагнуть порог начальной неуверенности. Даже когда вы сидите не в аудитории, а дома за любимым ноутбуком, вы можете общаться, задавать вопросы по ходу лекции и сразу же получать ответы на них. Разница с занятиями вживую только в том, что вам не нужно никуда ехать.

							h4 Какой из этих путей самый короткий?

							p Ментор может поспорить с курсами, но при условии, что вам с ним дико повезёт. Книга же, безусловно, самый долгий путь, на котором запросто можно заблудиться. И да, ментор вряд ли будет учить вас бесплатно, а вот бесплатные курсы найти можно. А на начальном этапе это неоценимый бонус.

							h4 Шаг четвёртый — практический

							p И самое главное — практика. Ведь для неё-то и нужны все предыдущие шаги! Где взять тот самый опыт, без которого не найти приличную работу? Для многих первым шагом становится фриланс. Возможно, это не очень выгодно, но зато даёт возможность наработать портфолио и приобрести реальный опыт. Ещё один вариант — open source — в таких проектах часто бывают востребованы новички.

							p Не бойтесь браться за любую работу! Даже если вы просто помогаете более опытному программисту, выполняя для него несложные задачки — это падает вам в копилку. Очень круто если на курсах, которые вы выберете, будет стажировка.

							p За хорошими образовательными центрами работодатели внимательно наблюдают и расхватывают выпускников, как горячие пирожки. Такие курсы могут стать самым быстрым и прицельным выстрелом. Поэтому не спешите с выбором, ведь ваша цель не бумажка, а практические знания, навыки и хорошее рабочее место с симпатичным видом из окна. И ещё один важный момент: не застревайте на этапах выбора и обдумывания.

							p Мечты сбываются только у тех, кто сам идёт к ним навстречу. Решайтесь! Читайте также о том, как стать разработчиком игр, где найти бесплатные курсы программирования и варианты стажировок.



					article(id="article4").article
						h2.article__head Первый советский мобильный телефон ЛК-1
						h3.article__date 26.01.2017
						.article__content
							a(href="http://information-technology.ru/novinki-gadzhetov/6262-pervyj-sovetskij-mobilnyj-telefon-lk-1" target="_blank" rel="nofollow") Источник
							.article__img
								img(src="assets/img/articles/first_mobile/lk1_01.jpg" alt="lk1_01")

							p Советский радиоинженер Леонид Иванович Куприянович в 1957 году представил первый рабочий образец портативного телефонного аппарата ЛК-1.

							p На фото: Слева — первый образец мобильного телефона ЛК-1, справа — компактная версия ЛК-3.

							p Зато доказана работоспособность второй модели телефона ЛК, которая весила всего 500 граммов. Аппарату посвятили отдельную заметку в советском журнале «Наука и жизнь»:

							.article__img
								img(src="assets/img/articles/first_mobile/lk1_02.png" alt="lk1_02")



			.arrow-up-wrapper.blog-section
				.arrow_up
					+icon('arrow_up')



		include ../common/footer
		include ../common/preloader


