extends ../_template

block variables
	- var title= 'welcome'
	- var header_min= '' 
	- var header= 'header'
	- var footer_works= ''
	-	
		var navigationList= {
				"Мои работы": "/works.html", 
				"Обо мне": "/about.html",
				"Блог": "/blog.html"
		}

block content
		.wrapper
			.content
				header.welcome-header
					.welcome-header__button
						| Авторизоватся
					
				.flip-container
					.about-card
						.about-card__front
							.about-card__front__content
								.about-card__img
									img(src="assets/img/my-photo.png", alt="my-photo").about-card__photo
								h1.about-card__name Панчелюга Виктор
								p.about-card__description Личный сайт веб-разработчика
								+social
							+navigation('about-card__front__nav',navigationList)
						.about-card__back
							.about-card__back__content
								+text-with-lines('авторизуйтесь', 'text-with-lines_auth')
								form.about-card__form
									label.about-card__input-wrapper
										input(type="text" placeholder="Логин" value="").about-card__login
										span.fa.fa-user
									label.about-card__input-wrapper
										input(type="password" placeholder="Пароль" value="").about-card__pwd
										span.fa.fa-key
									input(type="checkbox" id="auth-form__checkbox" value="").about-card__checkbox
									label(for="auth-form__checkbox")
										span.about-card__form__text
											| Я человек
									p.about-card__question Вы точно не робот?
									input(type="radio" id="auth-form__radio-yes" name="auth-radio").about-card__form__radio-yes
									label(for="auth-form__radio-yes")
										span.about-card__form__text
											| Да
									input(type="radio" id="auth-form__radio-no" name="auth-radio").about-card__form__radio-no
									label(for="auth-form__radio-no")
										span.about-card__form__text
											| Не уверен
							+navigation('about-card__back__nav',{"На главную":"#","Войти":"#"})

			footer.footer-min
				p.footer__content
					| @Victor Pancheliuha