extends ../_template

block variables
	- var title= 'Мои работы'
	- var triangle_mod= 'triangle_mod'
	- var header_min= 'header_min' 
	- var header= ''
	- var footer__static= ''

block content
	.parallax-wrapper
		+parallax ("scroll",[0,1,2,3,4,5,6,7,8,9])
	.wrapper
		.content
			.header-wrap
				include ../common/header
				.works
					.works__head
						+text-with-lines('мои работы', 'text-with-lines_works')
						+icon('works_header')
			include ../common/slider
			section.talks
				.talks__header
					+text-with-lines('что обо мне говорят', 'text-with-lines_talks')
					+icon('about_header')
				.talks__content
					.talks__item
						blockquote.talks__comment
							| Этот парень очень хорошо и качественно выполнит любую работу, связанную с front-end разработкой.
						.author
							.author__avatar-wrapper
								img(src="assets/img/talks_max.png", alt="max_photo").author__avatar
							p.author__name Максим Заец
							p.author__description Друг, студент КПИ




					.talks__item
						blockquote.talks__comment
							| Хороший коммуникабельный парень, с хорошим чувством юмора и упорстом в достижению целей.
						.author
							.author__avatar-wrapper
								img(src="assets/img/vova.jpg", alt="vova_photo").author__avatar
							p.author__name Владимир Гуровский
							p.author__description .NET developer


				.talks__form
					.feedback__background-blur-wrapper
						.feedback__background-blur
						.feedback__wrapper
							form(class="feedback" id="formFeedback" novalidate)
								+text-with-lines('связаться со мной', 'text-with-lines_feedback')
								input(type="text" placeholder="Имя" value="" name="name" id="name").feedback__name
								.error-tooltip.hide Ваше имья должно быть дольше 2х символов без знаков
								input(type="email" placeholder="Email" value="" name="email" id="email").feedback__email
								.error-tooltip.hide Email должен быть в виде example@example.ex
								textarea(name="message", cols="15", rows="6" placeholder="Ваше сообщение (больше 5 символов)" value="" id="message").feedback__message
								.error-tooltip.hide Длина сообщения должна превышать 5 символов
								.feedback__buttons
									input(type="submit" value="Отправить" id="send").feedback__submit
									input(type="reset" value="Очистить" id="reset").feedback__reset

						

				.talks__foot
					.arrow-up-wrapper
						.arrow_up
							+icon('arrow_up')
				
		include ../common/footer
		include ../common/preloader